@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: "Times New Roman", Times, serif;
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .face-front  { transform: rotateY(0deg) translateZ(80px); }
  .face-back   { transform: rotateY(180deg) translateZ(80px); }
  .face-right  { transform: rotateY(90deg) translateZ(80px); }
  .face-left   { transform: rotateY(-90deg) translateZ(80px); }
  .face-top    { transform: rotateX(90deg) translateZ(80px); }
  .face-bottom { transform: rotateX(-90deg) translateZ(80px); }
}